@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Poppins:wght@200;300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Handjet', 'cursive', 'Poppins', sans-serif;
}

:root{
    --text: #000000;
    --background: #FED297;
    --primary: #E98674;
    --secondary: #A49EB0;
    --accent: #454649;
}

body{
    background: var(--background);
}

header{
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    height: 80px;
}

header ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 30px;
    font-size: 24px;
    color: var(--text);
}

header a{
    text-decoration: none;
    color: black;
}

.content{
    background-color: var(--secondary);
    display: flex;
    justify-content: space-around;
    padding: 40px 0px 40px 0;
}

.content p{
    max-width: 300px;
    text-align: justify;
}