*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --text: #000000;
    --background: #FED297;
    --primary: #E98674;
    --secondary: #A49EB0;
    --accent: #454649;
}

body{
    background: var(--background);
}

header{
    /* background: var(--primary); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
}

header ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding-right: 30px;
}

header a{
    text-decoration: none;
    color: black;
}

.content{
    /* background-color: var(--secondary); */
    display: flex;
    justify-content: space-around;
    padding: 40px 0px 40px 0;
}

.content p{
    max-width: 300px;
    text-align: justify;
}